<h2>Utilidad para obtención de JSON Geospacial</h2>
<form class="uk-form geospatialForm uk-width-1-1" action="{{url_for('apiJsonGetGeospatialJson')}}">
	<input class="uk-input uk-form-width-large" type="text" name="name" placeholder="Nombre del lugar" required>
	<input class="uk-input uk-form-width-large" type="text" name="amenity" placeholder="Descripción del lugar" required>
	<input class="uk-input uk-form-width-large" type="number" step="any" name="latitude" placeholder="Latitud" required>
	<input class="uk-input uk-form-width-large" type="number" step="any" name="longitude" placeholder="Longitud" required>
	<input class="uk-input uk-form-width-large" type="text" name="popupContent" placeholder="Datos extra del lugar (opcional)">
	<button type="submit" class="uk-button-primary uk-button">Obtener JSON Geospacial</button>
</form>
<div class="cartoResults uk-width-1-1">El resultado del JSON Geospacial aparecerá aquí</div>