﻿{% extends "base.html" %}

{% block content %}
	<h2>Culture Guardians</h2>
    <a href="/api_test">Pincha</a>
    <div class="uk-child-width-1-2@s uk-grid-match" >
	    <div class="uk-card uk-card-default uk-card-body uk-width-1-1 uk-margin-bottom" uk-margin-small-top>
	    	<h3 class="uk-card-title">Utilidad para visualización de mapas (Powered By Carto)</h3>
		    <a href="#CartoMap" onclick="CGFramework.api.getCartoMap()" class="uk-button uk-button-primary">
		    	Visualiza mapa de carto
		    </a>
	    </div>
	    <div class="uk-card uk-card-default uk-card-body uk-width-1-1 uk-margin-bottom" uk-margin-small-top>
	    	<h3 class="uk-card-title">Búsqueda de itinerarios vacacionales (Powered by Azure & Minube)</h3>
	    	{% include "search_box.html" %}
	    </div>
	    <div class="uk-card uk-card-default uk-card-body uk-width-1-1 uk-margin-bottom" uk-margin-small-top>
	    	<h3 class="uk-card-title">Formulario para generación de JSON Geospacial</h3>
	    	{% include "carto_form.html" %}
		</div>
    </div>
{% endblock %}

