{% extends "base.html" %}
{% block content %}
	<form method="POST" action="{{url_for('register')}}">
		<input type="text" name="email" placeholder="Email">
		<input type="password" name="auth" placeholder="Contraseña">
		<input type="submit" value="Registrarse">
	</form>
{% endblock %}