{% extends 'base.html' %}

{% block content %}
<!-- AQUÍ EL CONTENIDO -->
 <h2>{{context.respuesta.lugar}}</h2>
 {% if context.matching %}
 	{% if context.patrimonio %}
 		<h2>Esta ciudad figura en el listado de la Unesco como patrimonio de la humanidad</h2>
	 	{% for c in context.matching %}
	 		<h2>{{c.name}}</h2>
	 		<img src="{{c.urlImagen}}">
	 	{% endfor %}
 	{% else %}
 		<h2>Esta ciudad no figura en el listado de la Unesco como patrimonio de la humanidad</h2>
 	{% endif %}
 	
 {% endif %}
 <br><a href="{{url_for('homeController')}}">Volver al inicio</a>
{% endblock %}